<?xml version="1.0" encoding="UTF-8" ?>

<!-- log4j2.xml must be located to src/main/resources -->

<Configuration>
	<Properties>
	    <Property name="log-path">../logs/article</Property>
	</Properties>
	
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
	    </Console>
	    
	    <RollingFile name="DailyRollingFileAppender" fileName="${log-path}/cims-appointment.log"
	    				filePattern="${log-path}/cims-appointment.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
            <Policies>
            	<TimeBasedTriggeringPolicy />
        	</Policies>
        </RollingFile>
  	</Appenders>
  	
  	<Loggers> 	
	  	<Logger name="com.article" level="info" additivity="true">
	        <appender-ref ref="DailyRollingFileAppender"/>
	    </Logger>

		<root level="info" includeLocation="true">
			<appender-ref ref="Console"/>
		</root>
	</Loggers>
  	
</Configuration>
