<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remo.user.dao.PermissionDao">
    <resultMap id="permission" type="Permission">
        <id column="PERMISSION_ID" jdbcType="DECIMAL" property="permissionId"/>
        <result column="PATH" jdbcType="VARCHAR" property="path"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="PERMISSION_NAME" jdbcType="VARCHAR" property="permissionName"/>
        <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId"/>
        <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNum"/>
    </resultMap>

    <select id="findUserPermissions" resultMap="permission">
        select p.permission_id,p.permission_name,p.path,p.type,p.parent_id,p.order_num
        from sys_role r
        left join relation_user_role ur on (r.role_id = ur.role_id)
        left join sys_user u on (u.user_id = ur.user_id)
        left join relation_role_permission rp on (rp.role_id = r.role_id)
        left join sys_permission p on (p.permission_id = rp.permission_id)
        where u.username = #{userName}
    </select>

</mapper>